.cards {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-auto-rows: 361px;
  justify-items: center;
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 918px) {
  .cards {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 618px) {
  .cards {
    grid-template-columns: 282px;
  }
}
