.header__email {
  margin: 0;
  padding: 7px 0;
  color: var(--light);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 618px) {
  .header__email {
    padding: 6px 0;
  }
}
