.popup__field {
  border: none;
  padding: 0;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__field::placeholder {
  color: var(--placeholder);
}
